.dashboard-main-container {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  background-color: rgb(40, 40, 40);
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 16px 24px;

  .trending-container {
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .sub-titles-container {
    width: 100%;
    text-align: left;
  }
  .cards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }
  .card-container {
    flex-basis: 24%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgb(158, 155, 155);
    cursor: pointer;
    .banner-container {
      width: 100%;
      height: 60%;
      background: white;
      border-radius: 8px 8px 0px 0px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px 8px 0px 0px;
      }
    }
    .details-container {
      width: 100%;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: left;

      h3 {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        color: #ffff;
      }
      p {
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        color: #c6c4c4;
      }
    }
  }
}
